*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
 
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
}

#nav{
    height: 75px;
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#nav img{
    height: 60px;
   
}

#nav-part2{
    display: flex;
    gap: 35px;
    font-weight: 100;
    font-size: 14px;
    color:white;

}
#nav-part3{
    display: flex;
    gap: 30px;
align-items: center;
    font-size: 14px;
}

#nav-part3 h3{
    color: white;
}

#nav-part3 button {
   
   background-color: #fff;
    color: black;
    padding: 18px 25px;
    font-weight: 550;
    font-size: 16px;
    border: none;
}

#main h1{
    font-size: 130px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color : white;
    /* justify-content: center; */
}

#main span{
    background-color: brown;
    /* color: black; */
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 50px;
    margin: 0px 50px;

}

#main h1:nth-child(2){
    /* color: red; */
    margin-top: 50px;
}

#main #left-img{
    height: 250px;
    top: 14%;
    position:absolute;
    left: 7%;
    border-radius: 13px;
}

#main #right-img{
    height: 250px;
    bottom: 14%;
    position:absolute;
    right: 7%;
    border-radius: 13px;
}

#main h5{
    position: absolute;
    bottom: 30px;
    left: 50%;
    font-size: 13px;
    transform: translate(-50px,0);
    color: white;
}